@model modelToDb.Models.UpdateEmployeeViewModel
@{
}


<h1>Update Employee</h1>

<form method="post" action="View" class="mt-5">
    <div class="form-group">
        <label>ID</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="form-group">
        <label>Salary</label>
        <input type="number" class="form-control" asp-for="Salary">
    </div>
    <div class="form-group">
        <label>Department</label>
        <input type="text" class="form-control" asp-for="Department">
    </div>
    <div class="form-group">
        <label>Date Of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div><br />

    <button type="submit" class="btn btn-primary">Update</button>
    <button type="submit" class="btn btn-danger" asp-controller="Employee" asp-action="Delete">Delete</button>
</form>